<form class="contactus--form">
    <h3> {{ 'SEND US A MESSAGE'|t }}</h3>
    <div class="form--field">
        {{ form.name }}
    </div>
    <div class="form--field">
       {{ form.phone }}
    </div>
    <div class="form--field">
        {{ form.mail }}
    </div>
    <div class="form--field">
        {{ form.message }}
    </div>
    
    <div class="form--buttons">
       {{ form.actions }}
       <span class="waiting" style="display:none"><img src="{{ base_path ~ directory }}/assets/img/throbber-active.gif" alt="loader"></span>
    </div>
    <div class="form--field form--smallprint">
        <label class="radiocheck">
            <input id= "contact_us_salesperson_contact"class="replaced" type="checkbox" name="salesperson_contact" value="0">
            <svg class="icon icon-checkbox"><use xlink:href="{{ base_path ~ directory }}/assets/img/sprite.symbol.svg#icon-checkbox"></use></svg>    <span class="radiocheck--label">
            {{ 'No salesperson will contact you without your specific request. GDPR requirement copy goes here.'|t }}            
        </span>
    </label>
</div>
 <div class="ajax-request-message">
       <div id="ajax-request-success"></div>
       <div id="ajax-request-error"></div>
</div>

</form>